---
{%- if family_name %}
N.FN: {{ family_name }}
{%- endif %}
{%- if given_name %}
N.GN: {{ given_name }}
{%- endif %}
{%- if full_name %}
FN: {{ full_name }}
{%- endif %}
{%- if photo %}
PHOTO: {{ photo }}
{%- endif %}
{%- for email_key, email_value in raw_emails.items() %}
"{{ email_key }}": {{ email_value }}
{%- endfor %}
{%- for phone_key, phone_value in raw_phones.items() %}
"{{ phone_key }}": "{{ phone_value }}"
{%- endfor %}
{%- if birthday %}
BDAY: {{ birthday }}
{%- endif %}
{%- for url_key, url_value in raw_urls.items() %}
"{{ url_key }}": {{ url_value }}
{%- endfor %}
{%- if organization %}
ORG: {{ organization }}
{%- endif %}
{%- for addr_key, addr_value in raw_addresses.items() %}
"{{ addr_key }}": {% if addr_key.endswith('.POSTAL') %}"{{ addr_value }}"{% else %}{{ addr_value }}{% endif %}
{%- endfor %}
{%- if categories %}
CATEGORIES: {{ categories }}
{%- endif %}
{%- if uid %}
UID: {{ uid }}
{%- endif %}
{%- if version %}
VERSION: "{{ version }}"
{%- endif %}

---
{%- if notes or categories %}
#### Notes

{%- if categories %}
{%- set category_list = categories.split(',') %}
#Contact{% for category in category_list %} #{{ category.strip() }}{% endfor %}
{%- else %}
#Contact
{%- endif %}
{%- endif %}